# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/Users/mattrosinski/miniforge3/envs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df = pdc.DataFrame(data)

In [6]:
df

In [7]:
df_final

In [8]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [9]:
pdc.DataFrame({'a': 1})

In [10]:
pdc.DataFrame(9)

TypeError: `data` must be a dictionary

In [13]:
d = {1:9}
pdc.DataFrame(d)

TypeError: the keys of data must be strings

In [38]:
arr = np.array([34, 9, 34])
data = {'a': arr}
arr.ndim

1

In [40]:
pdc.DataFrame(data)